.input_backround {
  position: relative;
  background-color: #ebebeb;
  border-radius: 10px;
  width: 400px;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 100px;
  text-align: center;
  align-items: center;
  padding-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .btn_plus {
    position: absolute;
    top: 50%;
    left: 82%;
    transform: translateX(-50%) translateY(-10%);
  }
  .uil-plus:hover {
    color: rgba(0, 47, 255, 0.619);
  }
}

.text_title {
  margin-bottom: 15px;
}

.input {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 40px;
}

.error {
  color: brown;
}
