.itemList_background {
  position: relative;
  display: flex;
  overflow: scroll;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  width: 410px;
  height: 310px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px 5px;
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .spiner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
.filter {
  display: flex;
  width: 400px;
  margin: 0 auto;
  gap: 15px;
  margin-bottom: 10px;
}
.btn_f {
  background-color: #ebebeb;
  border-radius: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.2s;
  &:hover {
    transform: translateY(-5px);
  }
}

.hide {
  display: none;
}

.active {
  transform: translateY(-5px);
}

.input_search {
  background-color: #ebebeb;
  border-radius: 5px;
  padding-left: 10px;
  width: 110px;
  visibility: visible;
  transition: all 0.2s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
